@import "./config";

@mixin badge {
  background-color: dimgray;
  border-radius: $rounded;
  color: $color-white;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-right: $padding/2;
  padding: $padding/4 $padding/1.5;
  user-select: none;
}

@mixin btn {
  border: solid 1px;
  border-radius: $rounded;
  letter-spacing: 0.1em;
  padding: $padding $padding*1.5;
  transition: $transition;
  user-select: none;
}

@mixin btn-hover {
  cursor: pointer;
  transition: $transition;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: darken($color-primary, 33%);
    text-decoration: underline;
  }
}

p {
  margin-bottom: $padding;
}

table {
  border-collapse: collapse;
  font-size: 0.9rem;
  min-width: 800px;
  width: 100%;

  tr {
    border-bottom: solid 1px $color-border;
  }

  th {
    padding: $padding;
    font-size: 1rem;
  }

  td {
    padding: $padding;
  }

  tbody tr:nth-child(odd) {
    background-color: transparentize($color-border, 0.85);
  }
}

section {
  height: auto;
  padding-top: $header-height + ($padding*2);
  padding-bottom: $padding;
  width: 100%;
}

.App {
  background-color: $color-background;
  min-height: 100vh;
  width: 100%;
}

.badge-active {
  @include badge;

  background-color: $color-active;
}

.badge-secondary {
  @include badge;

  background-color: $color-secondary;
}

.btn {
  @include btn;

  background-color: $color-primary;
  border-color: $color-primary;
  color: white;

  &:hover {
    @include btn-hover;

    background-color: darken($color-primary, 15%);
  }
}

.btn-outline {
  @include btn;

  background-color: transparent;
  border-color: $color-primary;
  color: $color-primary;

  &:hover {
    @include btn-hover;

    background-color: $color-primary;
    color: $color-white;
  }
}

.btn-outline-danger {
  @include btn;

  background-color: transparent;
  border-color: $color-danger;
  color: $color-danger;

  &:hover {
    @include btn-hover;

    background-color: $color-danger;
    color: $color-white;
  }
}

.btn-outline-secondary {
  @include btn;

  background-color: transparent;
  border-color: $color-secondary;
  color: $color-secondary;

  &:hover {
    @include btn-hover;

    background-color: $color-secondary;
    color: $color-white;
  }
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 $padding;
  position: relative;
  width: 100%;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.list-group {
  list-style-type: none;
  margin-top: $padding;
  width: 100%;

  li {
    background-color: transparent;
    border-top: solid 1px $color-border;
    border-left: solid 1px $color-border;
    border-right: solid 1px $color-border;
    color: $color-black;
    display: block;
    padding: $padding;
    text-decoration: none;

    &:hover {
      background-color: transparentize($color-border, 0.85);
    }
  }

  li:last-child {
    border-bottom: solid 1px $color-border;
  }
}

.profile-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: $padding*2;
}

.table-container {
  // height: auto;
  overflow-x: auto;
  width: 100%;
}

.table {
  &-width1 {
    width: 140px !important;
  }

  &-width2 {
    width: 170px !important;
  }
}

.text {
  &-center {
    text-align: center !important;
  }

  &-end {
    text-align: right !important;
  }

  &-start {
    text-align: left !important;
  }
}

// #######################################################################################
// ################################### DESKTOP VERSION ###################################
// #######################################################################################

@media (min-width: $breakpoint-tablet) {
  .profile-grid {
    grid-template-columns: 1fr 1fr;
  }
}
