// Colors
$color-background: #f9f9f9;
$color-border: #c1c1c1;
$color-danger: #b10000;
$color-primary: #1f6193;
$color-active: #008b8b;
$color-secondary: #454545;
$color-black: #232323;
$color-white: #fff;

// Breakbpoints
$breakpoint-tablet: 760px;

$header-height: 96px;
$padding: 10px;
$rounded: $padding/2;
$transition: 0.5s;
